/*-----------------------*\
  CARD COMPONENTS STYLING
\*-----------------------*/

.card{

    border-radius: $border-radius-large + 2;
    box-shadow: 0 1px 2px rgba(0,0,0,.03),0 0 0 1px rgba(63,63,68,.06);
    background-color: $white-color;
    margin-bottom: 30px;
        
    &__image{

        width: 100%;
        overflow: hidden;
        height: 260px;
        border-radius: $border-radius-base $border-radius-base 0 0;
        position: relative;

        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
      
        img{
            
            width: 100%;
        }
    }
    &__filter{

        position: absolute;
        z-index: 2;
        background-color: rgba(0,0,0,.68);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        
        @include opacity(0);
        
        .btn{

            @include vertical-align();
        }
    }
    &:hover .filter{

        @include opacity(1);
    }
    .btn-hover{

        @include opacity(0);
    }
    &:hover .btn-hover{

        @include opacity(1);
    }
    &__content{ 

        padding: 0px 15px 0px;

        &__progressBars{

            display: flex;
            justify-content: space-between;
            margin: 0 1.8em 0.2em;

            article{

                margin: 0 0 10px;
            }
        }
        .post-box{

            color: #adb6b9;
            background: $white-color;
            border-radius: 10px;
            padding: 0 10px;
            margin: 0 0 20px;
            position: relative;

            &__info-meta-header{

                display: flex;
                margin: 0 0 17px;
            }
            &__info-meta-text{

                display: inline-block;

                h4{

                    font-size: $font-size-base;
                    color: $medium-gray;
                    margin: 0 0 20px;
                    line-height: normal;
                    a{

                       color: $dark-gray; 
                       font-weight: $font-weight-bold;
                    }
                }
                p{

                    font-size: $font-size-base;
                    color: #484743;
                    margin-bottom: 15px;

                    .fa{

                        display: inline-block;
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }
                .taskTitle{

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    span{

                        border-radius: 4px;
                        padding: 2px 6px 4px;
                        color: $white-color;
                        font-weight: $font-weight-bold;
                        font-size: $font-size-base;
                        margin: 0 0 10px;
                    }
                    .push-action{

                        background: #868cb7;
                    }
                    .branch-action{

                        background: rgba(0, 228, 172, 0.7);
                    }
                }
                .commit-log{
                    &__item{

                        a{
                            border-radius: 100px;
                            background-color: rgba(0, 228, 172, 0.7);
                            padding: 5px 8px;
                            color: $white-color;
                            font-weight: $font-weight-bold;
                            font-size: $font-size-base;
                            margin-right: 5px;
                            transition: background-color 0.4s ease-in-out;

                            &:hover{
                               background-color: #65c2ce; 
                            }
                        }
                    }
                    &__message{

                        color: $dark-gray;
                    }
                }
            }
            .info-meta-link{

                span{

                    border-radius: 4px;
                    padding: 2px 6px 4px;
                    color: $white-color;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-base;
                    margin: 0 5px;
                }
                &__push-action{

                    background: #868cb7;
                }
                &__branch-action{

                    background: #ffa26e;
                }
            }
            &__avatar{

                width: 65px;
                height: 65px;
                display: inline-block;
                border: 1px solid #dcdcdc;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(63, 63, 68, 0.06);
                border-radius: 100px;
                margin: 0 10px 0 0;
                vertical-align: top;
        
                &__image-icon{
                    img{

                        border-radius: 100px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &__icon{

                display: inline-block;
                margin-right: 5px;

                img{    

                    width: 20px;
                    height: 20px;
                }
            }
            &__text-container{

                color: #485451;
                margin: 0 0 30px;
                display: -webkit-box;
                word-break: break-word;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__box-holder{

                display: table;
                width: 100%;

                .box-content{

                    display: table-cell;

                    &__title{

                        color: #595b5b;
                        display: block;
                        padding: 0 0 8px;
                    }
                }
            }
            &__box-bottom{

                border-bottom: 1px solid #f3f3f3;
                overflow: hidden;
                padding: 0 0 20px;
                margin: 0 0 30px;

                &__comments{

                    display: inline-block;
                    vertical-align: middle;
                    line-height: 3em;

                    .fa{
                        margin-right: 5px;
                    }
                }
                .oval-btn-lrg{

                    float: right;
                    background-color: transparent;
                    border: 2px solid #00e4ac;
                    border-radius: 26px;
                    font-size: $font-size-medium;
                    font-weight: $font-weight-bold;
                    color: #00e4ac;
                    text-align: center;
                    padding: 8px 15px;
                    transition: background-color 0.5s ease-in-out;

                    &:hover,
                     :focus{

                        background-color: #00e4ac;
                        border-color: #00e4ac;
                        color: $white-color;
                    }
                } 
                .participants{

                    float: left;

                    .people-list{

                        text-align: left;
                        display: inline;
                        margin: 0;
                        padding: 0;

                        li{

                            width: 60px;
                            min-width: 0;
                            padding: 0 5px 10px;
                            text-align: left;
                            display: inline-block;

                            a{
                                img{

                                }
                            }
                        }
                        .list-inline-block{

                            margin: 0 -10px;
                            padding: 0;
                            list-style: none;

                            li{

                                font-size: $font-size-base;
                                line-height: 1.4em;
                                letter-spacing: normal;
                                text-align: center;
                                display: inline-block;
                                vertical-align: top;
                                width: 33.3%;
                                padding: 0 10px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__ct-chart{

        position: relative;
        top: -2em;
        margin: 0;

        &__Head{
            h5{

                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                color: #485451;
                text-align: center;
                padding: 3px 1px;
            }
            h5.theme_01{

                font-size: $font-size-small;
                font-weight: $font-weight-semi;
                color: $medium-gray;
                padding: 0;
                margin-bottom: 20px;
                background-color: transparent;
            }
        }
        &__value{

            text-align: center;
            font-size: 1.5vw;
            display: inline-block;
        }
    }
    &__header{

        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 10px;

        .dropdown{

            justify-self: flex-end;
            background: rgba(220, 220, 220, 0.3);
            border-radius: 100px;
            border: 1px solid #e8e8e8;
            padding: 5px 18px;

            a{
                color: #969696;;
                font-weight: $font-weight-normal;

                .caret{ 

                    margin-left: 8px; 
                }
            }
        }
        span{

            color: #a9a9a9;
            font-weight: $font-weight-normal;
        }
    }
    &__category,
    label{

        font-size: $font-size-medium;
        font-weight: $font-weight-normal;
        color: $dark-gray;
        margin-bottom: 0px;
        
        i{ 
            font-size: $font-paragraph; 
        }
    }
    label{

        font-size: $font-size-small;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    &__title{

        margin: $none;
        color: #485451;
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        line-height: normal;
    }
    &__avatar{

        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    &__description{

        font-size: $font-size-base;
        color: #333;
    }
    &__footer{

        padding: 0;
        background-color: $transparent-bg;
        line-height: 30px;
        
        &__legend{

            padding: 5px 0;
        }
        hr{

            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    &__footer div{

        display: inline-block;
        padding: 0 0 8px 10px;
    }
    &__stats{

        color: #a9a9a9;
    }
    &.card-separator:after{

        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: $medium-gray;
        content: "";
        position: absolute;
    }
    #bar_01{

        font-size: 1.08em;
    }
    #bar_02,
    #bar_03,
    #bar_04{

        font-size: 0.40em;
    }
    &__alert{

        border-radius: $border-radius-base;
        position: relative;
        
        &--alert-with-icon{

            padding-left: 65px;
        }
    }
}



